body{
  background: url(../images/bg.png);
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, .4) inset;
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
  padding: 1em 0;
  text-align: center;
  min-width: 800px;
}
h1{
  color: #FFF;
  font-family: 'Lato', arial, serif;
  font-size: 60px;
  margin: 0 0 1em;
  text-shadow: 0 3px 6px rgba(255, 255, 255, .2);
}
#content{
  height:600px;
  position: relative;
}
.wrap{
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
  display: inline;
  left: 30px;
  min-height: 500px;
  position: absolute;
  right:51%;
  top: 0;
  -webkit-box-shadow:0 0 4px rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, 0.12) inset, 0 0 4px rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, 0.12) inset;
}
.wrap.right{
  left:51%;
  right:30px;
}
textarea, iframe{
  background: none;
  border: none;
  position: absolute;
  top:0px;
  bottom: 0px;
  right:0px;
  left:0px;
}
textarea{
  font-size: 1.1em;
  outline: none;
  padding: 6px;
  resize: none;
}
iframe{
  width: 99%;
  height: 99%;
}
.wrap:focus,textarea:focus{
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
/*  -webkit-box-shadow:3px 3px 14px rgba(0, 0, 0, .5) inset, 3px 3px 14px rgba(0, 0, 0, .5) inset;*/
}
label {
  float: left;
  padding-left: 4%;
  text-align: left;
  width: 45%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}