<h1>Down is up</h1>
<div id="content">
	<div id="leftPanel" class="wrap left">
		<label for="markdown" class="label hide" id="markdownLabel">In goes the markdown</label>
		<textarea id="markdown"></textarea>
	</div>
	<div id="rightPanel" class="wrap right">
		<span class="label hide" id="htmlLabel">Out comes the HTML!</span>
		<iframe id="html"></iframe>
		<button type="button" id="expand" style="opacity:0;">Expand</button>
		<button type="button" id="copy" style="opacity:0;">Copy to clipboard</button>
	</div>
</div>
<footer>
	<div id="siteinfo">
		<h2>What?</h2>
		<p>This site exists because one day we were chagrined and quite shocked to find that we were unable to find any insta-convert-markdown-to-HTML sites out there.</p>
		<p>While <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a> is pretty well-supported in most code editors, sadly, tools like this are hard to come by online. What if you're without your main computer? Dropbox, yes. Your markdown docs, ok. But, beautiful formatted output, no. Enjoy.</p>
		<p>Why write in markdown? Word is a painful mess. Google Docs is fine but unease lingers about it. Plain text is too... <em>plain</em>. Sounds like there's a bit a gap there, right? A gap that is filled precisely by <em>you know what</em>.</>
	</div>
	<div id="todo">
		<h2>TK:</h2>
		<ul>
			<li><strike>Markdown to HTML</strike></li>
			<li><strike>Click-to-copy HTML source</strike></li>
			<li>Expand HTML panel</li>	
		</ul>	
	</div>
</footer>