<h1 contenteditable="true">Down is up</h1>
<div id="content">
	<div class="wrap left">
		<label for="markdown" class="label hide" id="markdownLabel">In goes the markdown</label>
		<textarea id="markdown"></textarea>
	</div>
	<div class="wrap right">
		<span class="label hide" id="htmlLabel">Out comes the HTML!</span>
		<iframe id="html"></iframe>
		<button type="button" id="copy" style="opacity:0;">Copy to clipboard</button>
	</div>
</div>
<footer>
	<div id="todo" contenteditable="true">
		<h3>TODO:</h3>
		<ul>
			<li><strike>Markdown to HTML</strike></li>
			<li><strike>Click-to-copy HTML source</strike></li>
			<li>Expand HTML panel</li>	
		</ul>	
	</div>
</footer>