<h1 contenteditable="true">Down is up</h1>
<!-- <label for="markdown">Markdown</label>
<label for="html">HTML</label> -->
<div id="content">
	<div class="wrap left"><textarea id="markdown"></textarea></div>
	<div class="wrap right">
		<iframe id="html"></iframe>
		<button type="button" id="copy">Copy to clipboard</button>
		<button type="button" id="copySource">Copy source to clipboard</button>
	</div>
</div>
<footer>
<div id="todo" contenteditable="true">
	<h3>TODO:</h3>
	<ul>
	<li><strike>Markdown to HTML</strike></li>
	<li>Expand HTML panel</li>	
	<li>Click-to-copy HTML source</li>	
	</ul>	
</div>
</footer>