<h1>Down is up</h1>
<div id="content">
	<div id="leftPanel" class="wrap left">
		<label for="markdown" class="label hide" id="markdownLabel">In goes the markdown</label>
		<textarea id="markdown"></textarea>
	</div>
	<div id="rightPanel" class="wrap right">
		<span class="label hide" id="htmlLabel">Out comes the HTML!</span>
		<iframe id="html"></iframe>
		<div id="buttonPanel" class="hide">
			<span id="copyNotice" class="hide">Yeah! Copied!</span>
			<button type="button" id="expand">Expand</button>
			<button type="button" id="copy">Copy to clipboard</button>
		</div>
	</div>
</div>
