<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Downisup</title>
	<meta name="DESCRIPTION" content="Website that converts markdown to HTML">
	<meta name="KEYWORDS" content="online,markdown,html,conversion,website">
	<link rel="shortcut icon" href="/favicon.ico" />
	<link href='http://fonts.googleapis.com/css?family=Anton:regular|Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<section id="pageContent">
	<%= yield %>
	</section>
  <%= javascript_include_tag 'application' %>
</body>
</html>
